html,body { height:100%; }

html {
	background-color: #EDEBEB;
	border-top: solid 6em #990000;
	font-size: l00%;
}
body {
	width: 75%;
	min-width: 360px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	background-color: white;
	padding: 2em;
	margin-top: -2em;
	font-size: 1.3rem;
	font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
	font-weight: 150;
	line-height: 1.4em;
}

h1, h2{
	font-family: BentonSans;
}

h1{
	text-align: center;
	font-size: 2.5rem;
}

select{
	font-size: 1.25rem;
	font-family: BentonSansRegular, Helvetica, Arial, sans-serif;
	font-weight: 150;
}

button {
  background-color: #006298;
  color: white;
  border-radius: 8px;
  padding-bottom: .2em;
  padding-left: .6em;
  padding-top: .2em;
  padding-right: .6em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
}

table {
	font-size: smaller;
	margin: 0 auto;
}

td, th {
	padding: .3em 1em;
}

aside {
	font-size: .6em;
	font-style: italic;
}