<!DOCType html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>
        CSV and JSON File Loader
    </title>
    <script type="text/javascript">
    $(document).ready(function(){
        var id;
      
        $("#status").click(function (){
            if(!id){
            return;
            }
            console.log(id)
            $.ajax({
                type: "GET",
                beforeSend: function(request) {
                request.setRequestHeader("Authorization", "Token hZrdvmAT7FvHXSLUqcz2WAH4GTm5sj");
            },
                url: `https://api.qa.openconceptlab.org/manage/bulkimport/?task=${id}&result=json`,
                success:function(result, status, xhr) {
                //6b10dcb6-462e-478b-b210-ec5dc11a55e2-vinishad~default
                var response = (xhr.getResponseHeader("content-type"))
                    if (response.indexOf('text/html') > -1){
                        $("#stat").html(result);
                        $("#changer").hide()
                    }
                    else {
                        alert(JSON.stringify(result))
                        $("#changer").html("{ state: " + JSON.stringify(result["state"]) + " , task: "  + JSON.stringify(result["task"]) + " }");
                        $("#stat").hide()   
                    }
                },
                error: function(xhr,status,error){
                    console.log(status,error)
                }
            });
        });
        

        $("form#files").submit(function(e){
          	e.preventDefault();
            var formData = new FormData();
          	var fileToUpload = $("#file")[0].files[0];
            var content = JSON.stringify(fileToUpload)
          	formData.append("file", content);
            let reader = new FileReader();
            reader.readAsText(fileToUpload);
              reader.onload = function() {
                  console.log(reader.result);
                  $.ajax({
                      url: "https://api.qa.openconceptlab.org/manage/bulkimport/",
                      type: 'POST',
                      data: reader.result,
                      async: true,
                      processData: false,
                      contentType: false,
                      beforeSend: function(request) {
                          request.setRequestHeader("Authorization", "Token hZrdvmAT7FvHXSLUqcz2WAH4GTm5sj");
                          },

                      success: function (data) {
                          $("#stat").html(JSON.stringify(data));
                          $("#changer").hide();
                          $("#loading").empty();
                          id = data.task;
                          },
                      error: function(xhr, status, error){
                          console.log(status, error);
                          },
                  });
              };
              reader.onerror = function() {
                  console.log(reader.error);
              };
            return false;
        });
    });

    /* $("form#files").submit(function(e){
          	e.preventDefault();
            var url = "https://api.qa.openconceptlab.org/manage/bulkimport/";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();

            xhr.open("POST", url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    alert(xhr.responseText); // handle response.
                }
            };
            fd.append('file', file);
            // Initiate a multipart/form-data upload
            xhr.send(fd);
            var filesArray = event.dataTransfer.files;
                for (let i=0; i<filesArray.length; i++) {
                    sendFile(filesArray[i]);
                }
            }); */

    </script>

</head>

<body>
   <div class="container">
        <div class="row">
            <div class="col">

                <h1>Upload CSV or JSON File</h1>

                <form id="files" action="/upload" method="POST" enctype="multipart/form-data">
                    <p> Upload a CSV or JSON File to the OCL Library </p><br>
                    <div class="form-group">
                        <div class="custom-file">
                            <label class="custom-file-label" for="file">Select File...</label>
                            <input type="file" class="custom-file-input" name="file" id="file" value="">   
                            <button type = "submit" class = "btn btn-primary" onclick="$('#loading').show();">Upload File</button>
                            
                        </div>
                    </div>
                </form>
                
                <!--<form action="/upload" method="GET" enctype="multipart/form-data">
                    <button id="status" name="status">Get Update</button>
                </form>-->
              	<button id="status" name="status">Get Update</button>

                <div id="loading" style="display:none;">
                    <img class="col-sm-3 col-sm-offset-4" src="{{ url_for('static',filename='images/spinner.gif') }}" ng-show="loading">
                </div>
                    {% with messages = get_flashed_messages() %}
                      {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    {% endwith %}


                <h3>Status Updates</h3>    
                <div id="changer">  </div>
                <div id="stat">  </div>


                
            </div>
        </div>
    </div>
    

</body>
</html>